@font-face {
  font-family: "iconfont"; /* Project id 4119225 */
  src: url('iconfont.woff2?t=1691026385180') format('woff2'),
       url('iconfont.woff?t=1691026385180') format('woff'),
       url('iconfont.ttf?t=1691026385180') format('truetype'),
       url('iconfont.svg?t=1691026385180#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jihuatongji:before {
  content: "\e65b";
}

.icon-xiayi:before {
  content: "\e681";
}

.icon-shangyi:before {
  content: "\e682";
}

.icon-question:before {
  content: "\e67e";
}

.icon-shuaxin:before {
  content: "\e61c";
}

.icon-riqi:before {
  content: "\e66f";
}

.icon-renyuan:before {
  content: "\e604";
}

.icon-tuisong:before {
  content: "\e62b";
}

.icon-airudiantubiaohuizhi-zhuanqu_banzujianshe:before {
  content: "\e6a0";
}

.icon-daiban:before {
  content: "\e69b";
}

.icon-iconku-:before {
  content: "\e612";
}

.icon-a-lujing4284:before {
  content: "\e679";
}

.icon-xitongcaozuorizhi:before {
  content: "\e691";
}

.icon-jiankong:before {
  content: "\e620";
}

.icon-tiaoduling:before {
  content: "\e6b6";
}

.icon-arrowleft:before {
  content: "\e693";
}

.icon-caozuojilu:before {
  content: "\e62a";
}

.icon-shanchu:before {
  content: "\e68f";
}

.icon-jieshu1:before {
  content: "\e605";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-daochu1:before {
  content: "\e631";
}

.icon-icons-:before {
  content: "\e67a";
}

.icon-tongjifenxi:before {
  content: "\e61a";
}

.icon-bixutian:before {
  content: "\e652";
}

.icon-restore:before {
  content: "\e673";
}

.icon-24gl-folder3:before {
  content: "\eabe";
}

.icon-24gl-folderOpen:before {
  content: "\eabf";
}

.icon-daochu:before {
  content: "\e871";
}

.icon-point:before {
  content: "\ec1e";
}

.icon-close:before {
  content: "\e656";
}

.icon-24gf-ellipsis:before {
  content: "\eb12";
}

.icon-jiantou_xiangyouliangci:before {
  content: "\eb09";
}

.icon-jiantou_xiangzuoliangci:before {
  content: "\eb0a";
}

.icon-message:before {
  content: "\e738";
}

.icon-baogaoguanli:before {
  content: "\e663";
}

.icon-jingduixietongguanli:before {
  content: "\e667";
}

.icon-biaozhunguanli:before {
  content: "\e668";
}

.icon-liuchengshenpi:before {
  content: "\e669";
}

.icon-xitongshezhi:before {
  content: "\e66a";
}

.icon-xiangmuguanli:before {
  content: "\e66b";
}

.icon-zhinengwanggui:before {
  content: "\e66c";
}

.icon-renwuguanli:before {
  content: "\e66d";
}

.icon-yichangjilu:before {
  content: "\e619";
}

.icon-icon-:before {
  content: "\e607";
}

.icon-rizhiguanli:before {
  content: "\e65e";
}

.icon-daibanshixiang:before {
  content: "\e6a5";
}

.icon-jurassic_log:before {
  content: "\e69c";
}

.icon-jiaojiebanguanli:before {
  content: "\e6c6";
}

.icon-jilu:before {
  content: "\e810";
}

.icon-030-shortcutscriptapp:before {
  content: "\e698";
}

.icon-user:before {
  content: "\e68e";
}

.icon-home1:before {
  content: "\e674";
}

.icon-save:before {
  content: "\e67c";
}

.icon-search:before {
  content: "\e67d";
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-arrow-down-bold:before {
  content: "\e686";
}

.icon-minus-bold:before {
  content: "\e687";
}

.icon-arrow-right-bold:before {
  content: "\e688";
}

.icon-select-bold:before {
  content: "\e689";
}

.icon-todo-list-1:before {
  content: "\e672";
}

.icon-todo-list-2:before {
  content: "\e601";
}

.icon-todo-list-3:before {
  content: "\e66e";
}

.icon-home:before {
  content: "\e600";
}

