.el-form-item__label {
    color: #fff;
}

.el-input__wrapper,
.el-textarea__inner,
.el-range-editor.el-input__wrapper {
    background-color: transparent;
    box-shadow: 0 0 0 1px #1f6c9b;
    outline: none;
    color: #fff;
}

.el-date-editor {

    .el-range-input,
    .el-range-separator {
        color: #fff;
    }
}

.el-input__inner {
    color: #fff;
}

// .el-input,
// .el-textarea {
//     --el-input-hover-border-color: #1f6c9b;
// }

.el-button {
    border: none;
    height: 32px;
    width: 65px;
    border-radius: 0;

    &:hover {
        transform: scale(1.05);
        animation: all 0.5s ease-in-out;
    }
}

.el-table {
    background-color: transparent;
    // --el-table-border-color: rgb(53, 53, 53) !important;
    --el-table-border-color: none !important;
    --el-table-row-hover-bg-color: rgba(0, 158, 250, 0.219) !important;
    --el-table-current-row-bg-color: none;

    thead tr {
        background-color: transparent !important;
    }

    th.el-table__cell {
        background: url("../../common/image/net-resource/thead.png") no-repeat;
        background-size: 100% 100%;
        background-color: transparent !important;
        color: #bff0ff;
        height: 3rem;
    }

    tbody tr {
        height: 3rem;
        background: #07243d;
        color: #fff;
        border: none !important;

        &:nth-child(2n) {
            background: url("../../common/image/net-resource/tr.png") no-repeat;
            background-size: 100% 100%;
        }
    }
}

.el-tree {
    background-color: transparent;
    color: #fff;
    padding: 0.8rem;
    box-sizing: border-box;
    --el-tree-node-hover-bg-color: rgba(0, 158, 250, 0.219) !important;

    .el-tree-node {
        .el-tree-node__content {
            color: #68caf4;
        }
    }

    .el-tree-node__children {
        .el-tree-node__content {
            color: #fff;
        }
    }

    .el-tree-node__content {
        height: 2.5rem;
    }

    .custom-tree-node {
        display: flex;
        align-items: center;
    }

    .tree-icon {
        display: inline-block;
        height: 16px;
        width: 16px;
        background: url('../../common/image/net-resource/ddh.png') no-repeat;
        background-size: 100% 100%;
        margin-right: 10px;
    }
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: rgba(162, 189, 205, 0.219) !important;
}

.el-dialog {
    background: url('../../common/image/dialog/dialog-bg2.png') no-repeat;
    background-size: 100% 100%;

    .el-dialog__header {
        padding: 5px 0;
        background: url('../../common/image/dialog/dialog-title.png') no-repeat;
        background-size: 100% 100%;
        text-align: center;

        span {
            color: #fff !important;
        }
    }

    .el-dialog__footer {
        .el-button {
            height: 28px;
            line-height: 28px;
            background: url('../../common/image/net-resource/btn-box.png') no-repeat;
            background-size: 100% 100%;
            color: #fff;
        }
    }

}

.tmc__top .el-table__row.current-row {
    background-color: #025188 !important;
}